* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

body {
  font-family: "Fredoka";
  text-align: center;
  background-image: url("../img/fondo.jpg");
  background-size: 100%;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tarjetas {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.subt {
  margin-bottom: 15px;
  font-size: 2.25em;
  font-weight: bold;
  text-shadow: 2px 2px 0px #0000008e;
  text-shadow: 1.2px 1.2px 0 #000, -1.2px 1.2px 0 #000, -1.2px -1.2px 0 #000,
    1.2px -1.2px 0 #000;
  letter-spacing: 4px;
}

p {
  letter-spacing: 2px;
}

.titulo {
  height: 120px;
  font-family: "Fredoka";
  text-transform: uppercase;
  letter-spacing: 20px;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 5rem;
}

input {
  display: none;
}

.tarjeta-de-mokepon {
  background: #077495cc;
  width: 150px;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid rgba(245, 245, 245, 0.66);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 8px;
  transition: all 0.3s ease-out;
}

.tarjeta-de-mokepon:hover {
  cursor: pointer;
  background-color: #fbf5f8;
  color: #077495cc;
  border: 2px solid #077495cc;
}

.tarjeta-de-mokepon.seleccionado {
  transform: scale(0.95);
  background-color: #055b6e;
  border: 2px solid white;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: #387f80;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding: 20px;
  width: 40%;
  animation-name: animarsuperior;
  animation-duration: 0.5s;
  border-radius: 15px;
}

.seleccionar {
  font-family: "Fredoka";
  background-color: #025c77;
  border: 1.5px solid #ffffff;
  letter-spacing: 0.2em;
  color: white;
  padding: 10px 17px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: inline-block;
  text-shadow: 0.5px 0.5px 0 #000, -0.5px 0.5px 0 #000, -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000;
  margin-top: 30px;
}

.btn-reiniciar {
  letter-spacing: 0.2em;
}

.fuego,
.agua,
.tierra,
.btn-reiniciar,
.over {
  background-color: #fbf5f8;
  border: 1px solid #a8a4a4;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: inline-block;
}

.fuego:hover,
.agua:hover,
.tierra:hover,
.btn-reiniciar:hover,
.over:hover {
  background-color: #c6c3c4;
}
.seleccionar:hover {
  background-color: #014b61;
}

/* Add Animation */
@keyframes animarsuperior {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.cerrar {
  color: black;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
